.homepage {
    background: rgba(178, 165, 182, 0.73);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.homepage .search_home_frame{
    background: url("/public/book/background.webp"); 
    width: 100%;
    height: 800px;

}
.homepage .users{
    width: 100%;
    color: rgb(11, 10, 10);
    font-size: 30px;
    font-family: Poppins;
    line-height: 90px;
    word-wrap: break-word
}
 /* TopCollection */

.homepage .topcollection_frame {
    width: 100%;
    height: 628px;
    display: flex;
    background: #d1d4d7;
    
}

.homepage .category_title {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
.homepage .top_collection_frame {
    width: 100%;
    height: 800px;
    border-radius: 20px;

}
/* Statics */
.homepage {
    background: #0B0E11;
}
.homepage .static_frame {
    width: 100%;
    background: #e3e0dd;
    

}
.homepage .static_box .static_info {
color: #000;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 109.091% */
}
.homepage .static_box .static_text{
width: 245px;
height: 64px;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.50);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
}

/* Best Seller */

.homepage .best_seller_frame{
    width: 100%;
    height: 419px;
}