.homepage {
  background: rgba(178, 165, 182, 0.73);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.homepage .search_home_frame {
  background: url("/public/book/background-home.webp");
  width: 100%;
  height: 800px;
}
.homepage .users {
  width: 100%;
  /* color: rgb(11, 10, 10); */
  font-size: 30px;
  font-family: Poppins;
  line-height: 90px;
  word-wrap: break-word;
}
/* TopCollection */

.homepage .topcollection_frame {
  width: 100%;
  height: 628px;
  display: flex;
  background: #d1d4d7;
}

.homepage .category_title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  margin-top: 10px;
}
.homepage .top_collection_frame {
  width: 100%;
  height: 800px;
  border-radius: 20px;
}
/* Statics */
.homepage {
  background: #5a6067;
}
.homepage .static_frame {
  width: 100%;
  background: #ffffff;
}
.homepage .static_box .static_info {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 109.091% */
}
.homepage .static_box .static_text {
  width: 245px;
  height: 64px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

/* Best Seller */

.homepage .best_seller_frame {
  width: 100%;
  height: 460px;
  background: rgb(237, 235, 232);
}
.homepage .seller_frame_box {
  color: #000;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}

/* Top rated Books */
.homepage .best_book_frame {
  width: 100%;
  height: 600px;
  background: #fcf8fd;
}
.homepage .top_book_title {
  color: #000;
  font-family: Poppins;
  font-size: 35px;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}
.homepage .book_box {
  width: 170px;
height: 243px;
flex-direction: row;
flex-shrink: 0;
flex-direction: row;
margin-bottom: 40px;
}

.homepage .book_price_box{
  width: 142px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 10px;
background: #EEDFF3;
/* margin-bottom: 10px; */
}

.homepage .book_price {
  color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 70px;
margin-left: 30px;
}

/* Top rated Books finish */

/*Events SECTION*/

.homepage .events_frame {
  /* margin-top: 45px; */
  width: 100%;
  height: 700px;
  display: flex;
  overflow: hidden;
  background:  #FFF;

}

.homepage .events_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.homepage .events_main .events_text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepage .events_main .prev_next_frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 24px;
  margin-left: 901px;
  margin-top: 19px;
}

.homepage .dot_frame_pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events_main .events_info {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events_info .events_info_frame {
  position: relative;
  width: 579px;
  height: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events_img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .events_desc {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #FFFFFF;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.homepage .events_desc .events_bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events_desc .events_bott .bott_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .bott_left .event_title_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage  .event_title_speaker .event_organizator {
  display: flex;
  align-items: center;
}
.homepage .event_organizator .spec_text_author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .bott_left .text_desc {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .bott_info .bott_info_main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #FFFFFF;
  border-radius: 50%;
}

.homepage .swiper-pagination-bullet-active {
  background: #007aff;
  border-radius: 50%;
} 

.homepage .bott_left .event_title_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage  .event_title_speaker .event_organizator {
  display: flex;
  align-items: center;
}
.homepage .event_organizator .spec_text_author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .bott_left .text_desc {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .bott_info .bott_info_main {
  margin-left: 10px;
  display: inline-block;
  justify-content: flex-end;
  flex-direction: row;
  width: auto;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #FFFFFF;
  border-radius: 50%;
}

.homepage .swiper-pagination-bullet-active {
  background: #007aff;
  border-radius: 50%;
} 

/* Recomendation */

.homepage .recomend_frame{
width: 100%;
height: 852px;
flex-shrink: 0;
background: #FFF;
margin-bottom: 40px;
padding: 50px 100px 50px 100px
}

.homepage .recomendation_top h1{
  color: #000;
text-align: center;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 85.714% */
margin-bottom: 1px;
}
.homepage .recomendation_top p{
margin-bottom: 1px;
width: 584px;
height: 53px;
align-items: center;
justify-content: center;
margin-left: 350px;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.60);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 30px;
}
.homepage .recom_middle_box{
 display: flex;
 justify-content: space-between;
 position: relative;
}

.homepage .img_box img {
  margin-top: 60px;
width: 372px;
height: 210px;
flex-shrink: 0;
border-radius: 10px;
background: #C4C4C4;
margin-bottom: 1px;
}

.homepage .book_def h4{
width: 343px;
color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 177.778% */
margin-bottom: 1px;
margin-top: 15px;
}
.homepage .book_def p {
  width: 372px;
height: 70px;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.50);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
}
.homepage .author_book img {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  margin-bottom: 1px;
  
}
.homepage .author_book p {
  color: #3D3D3D;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
flex-direction: row;
padding: 0px 34px 0px 6px;
} 


/* Comment */
.homepage .comment_frame{
  width: 100%;
  height: 729px;
  flex-shrink: 0;
  background-color:white;
  margin-bottom: 100px;
}
.homepage .comment_frame_box{
color: #000;
margin-bottom: 40px;
text-align: center;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 85.714% */
}

.homepage .comment_frame_box p{
width: 584px;
height: 53px;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.60);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.homepage .comment_middle_box{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.homepage .comment_main_box{
  width: 428px;
height: 269px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;

/* shadow01 */
box-shadow: 0px 7px 20px 0px rgba(141, 40, 173, 0.15);
}
.homepage .comment_main_box .comment_img{
  width: 196px;
  height: 25px;
  flex-shrink: 0;
  padding: 30px 202px 21px 30px;
}
.homepage .text_def{
  width: 380px;
  height: 70px;
  flex-shrink: 0; 
  color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 18px 114px 30px;
}
.homepage .text_def p {
height: 27px;
width: 110px;
flex-direction: row;
color: #3D3D3D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 15px 188px 57px 5px;
}
.homepage .author_book img {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  margin-left: 280px;
  border-radius: 10px;
background: #FFF;

/* shadow01 */
box-shadow: 0px 7px 20px 0px rgba(141, 40, 173, 0.15);

}
.homepage .comment_pagination{
  width: 24px;
height: 24px;
flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(0px 7px 20px rgba(141, 40, 173, 0.15));


}



