.format.home_navbar {
  width: 100%;
  height: 900px;
  display: flex;
   background: url("https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2024/06/29567_Quote_B1_Discover_Swift_River_06_04_24.jpg");
  background-size: cover;
} 
.format_book.home_navbar {
  width: 100%;
  height: 700px;
  display: flex;
  background: url("https://img.kwcdn.com/product/open/2024-05-15/1715762686892-9c5f650e68c14ccf873ebdab80af84de-goods.jpeg?imageMogr2/auto-orient%7CimageView2/2/w/800/q/70/format/webp");
  /* background-size: cover; */
}

.format_others.home_navbar{
  width: 100%;
  height: 800px;
  display: flex;
  background: url("https://media.istockphoto.com/id/1409274516/video/back-to-school-with-school-supplies-and-equipment-background-and-poster-for-back-to-school.jpg?s=640x640&k=20&c=eLUDPANXV_9Ty-62zAYJ_O9YWWO6AX-uZMJ7tSH_ASQ=");
  background-size: cover;
}
.home_navbar .navbar_config {
  width: 100%;
  height: 60px;
  margin-left: 26px;
  margin-top: 55px;
}
.home_navbar .navbar_links {
  width: 900px;
  height: 65px;
  align-items: center;
  font-size: larger;
 
}

.home_navbar a {
  text-decoration: none;
}

.home_navbar .hover-line a {
  color:black;
}
.home_navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #ae0000;
}

.home_navbar .hover-line:after {
  display: block;

  content: "";
  border-bottom: solid 2px #ae0000;
  transform: scaleX(0);
  /* transition: transform 250ms ease-in-out; */
}
.home_navbar .logo_img{
  height: 90px;
  width: 80px;

}

.home_navbar .hover-line:hover:after {
  transform: scaleX(1);
}
.home_navbar .icon_img{
  height: 60px;
  width: 60px;
}
.home_navbar .big_img {
  position: relative;
  width: 277px;
  height: 277px;
  margin-top:41px;
  margin-left: 494px;
  border-radius: 90px 0 0 0;
  background-size: cover;
}




